<h1><%= @group.name %></h1>

<p>
  <%= @group.group_number %>
</p>

<%= link_to "New Member", new_group_cert_path(@group) %>


<ul class="lead list-unstyled">
  <% @certs.each do |cert| %>
    <li><%= link_to cert.cert_number.to_s + " " + cert.last_name + ", " + cert.first_name, cert_path(cert) %></li>
  <% end %>
</ul>
